@model SMSI_ISO27005.Models.action

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description_action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description_action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.échéance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.échéance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etat_avancement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat_avancement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matricule_responable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricule_responable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gestion_risque.nom_gesion_risk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gestion_risque.nom_gesion_risk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.action_mesure.chapitre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.action_mesure.chapitre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_action }) |
    @Html.ActionLink("Back to List", "Index")
</p>
