@model IEnumerable<SMSI_ISO27005.Models.action>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description_action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.échéance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat_avancement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricule_responable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_creation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gestion_risque.nom_gesion_risk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action_mesure.chapitre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description_action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.échéance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etat_avancement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricule_responable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gestion_risque.nom_gesion_risk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.action_mesure.chapitre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_action }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_action }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_action })
        </td>
    </tr>
}

</table>
