@model SMSI_ISO27005.Models.activite

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Creer une activite</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4></h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_activite, "ID Activite", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_activite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_activite,null, new { @class = "text-danger" })
                @Html.DisplayFor(model => model.errorMessage, new { @class = "text-danger"})


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_activite, "Nom Activite", htmlAttributes: new { @class = "control -label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_activite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nom_activite, null,new { @class = "text-danger"})
            </div>
        </div>
                <script src="~/Content/vendor/jquery/jquery.min.js"></script>
                @*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>*@
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
                <script type="text/javascript">
                    var successMessage = '@TempData["errorMessage"]'
                    
                            if (successMessage != "") {

                                //alert(successMessage);
                                swal.fire({icon :'error',title :successMessage,text :'Veuillez Choisir Un Autre ID'})
                            }
                 </script>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-primary" id="submit" />
            </div>
        </div>
    </div>


}
<div>
    @Html.ActionLink("Retour a List", "Index")
</div>
