@model SMSI_ISO27005.Models.actif

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>actif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_actif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_creation_actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_creation_actif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descr_actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descr_actif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categ_actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categ_actif)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_actif }) |
    @Html.ActionLink("Back to List", "Index")
</p>
