@model IPagedList<SMSI_ISO27005.ViewModels.CIDActifVM>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "CID";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Score CID</h2>

<table class="table table-hover" >
    <tr class="thead-dark">
        <th>Nom Activite</th>
        <th>Matricule</th>
        <th>Nom Actif</th>
        <th>Nom Confidentialite</th>
        <th>Nom Integrite</th>
        <th>Nom Disponibilite</th>
        <th>Score CID</th>
    </tr>
    @*.Where(w=> w.actifDetailles.id_actif== int.Parse(Session["IdActif"].ToString()) )*@
    @foreach (var item in Model)
    {


        int sum = @item.confidDetailles.score_confid.AsInt() + @item.integriteDetailles.score_integd.AsInt() + @item.disponibilteDetailles.score_dispo.AsInt();
            <tr>
                <td>@Html.ActionLink(item.activiteDetaillese.nom_activite, "Details", "Activites", new { id = item.activiteDetaillese.id_activite }, null)</td>
                <td>@item.collaborateurDetailles.matricule</td>
                <td>@Html.ActionLink(@item.actifDetailles.nom_actif, "Details", "actifs", new { id = item.actifDetailles.id_actif }, null)</td>
                <td>@Html.ActionLink(@item.confidDetailles.nom_confid, "ConfidDetails", "CIDactif", new { id = item.confidDetailles.id_confi }, null)</td>
                <td>@Html.ActionLink(@item.integriteDetailles.nom_integ, "INtegriteDetails", "CIDactif", new { id = item.integriteDetailles.id_integ }, null)</td>
                <td>@Html.ActionLink(@item.disponibilteDetailles.nom_dispo, "DispoDetails", "CIDactif", new { id = item.disponibilteDetailles.id_dispo }, null)</td>
                <td>@sum</td>
            </tr>
        



    }
    <td>@Html.ActionLink("Mes Actifs", "index", "actifs")</td>

</table>

<nav aria-label="Page navigation example">@Html.PagedListPager(Model, i => Url.Action("CID", "CIDActif", new { i, search = Request.QueryString["search"] }))</nav>