@model SMSI_ISO27005.Models.menace

@{
    ViewBag.Title = "MenaceDatails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Menace Datails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.nom_menace,"Nom Menace")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_menace)
        </dd>

        <dt>
            @Html.LabelFor(model => model.date_creation_menace,"Date Creation Menace")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_creation_menace)
        </dd>

        <dt>
            @Html.LabelFor(model => model.desc_menace,"Description Menace")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_menace)
        </dd>       
    </dl>
</div>
<p>
   @Html.ActionLink("Back to Actifs List", "Index", "Actifs")
</p>
